<!DOCTYPE html>
<html>
    <head>
        <title>Rubin's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Rubin's blog</a></h1>
        </header>

        <article>
            <time>published: 14.01.2023, 12:14</time>
            <h2><a href="">O jazere Salagou</a></h2>
            <p>Jazero Salagou je nádržou priehrady Salagou. Nachádza sa v centre departementu Hérault, na rieke Salagou, prítoku rieky Lergue, ktorá sa vlieva do rieky Hérault. Dosahuje hĺbku približne 50 metrov.</p>
        </article>

        <article>
            <time>published: 14.01.2023, 12:14</time>
            <h2><a href="">História priehrady Salagou</a></h2>
            <p>Projekt priehrady sa začal v 50. rokoch 20. storočia s cieľom vytvoriť vodný rezervoár, ktorý by podporil diverzifikáciu plodín vrátane rozvoja ovocinárstva, keďže vinohradníctvo sa stávalo nadprodukčným. Po druhé, cieľom priehrady bolo regulovať záplavy rieky Hérault. Práce sa začali v roku 1964 a pokračovali až do začiatku roka 1969. Jazero zatopilo časť obcí Clermont-l'Hérault na východe, Liausson na juhu, Octon na západe a Celles na severe, ako aj časť starej štátnej cesty 9</p>
        </article>
    </body>
</html>