.page-header {
    background-color: #30578abe;
    margin-top: 20;
    margin-bottom: 30px;
    border: 2px solid rgb(2, 15, 59);
    padding: 0px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #d84141;
    font-size: 55pt;
    text-decoration: unset;
    margin: 0px;
    padding: 4px;
}

h1,
h2,
h3,
h4 {
    color: #5c0d58;
    font-family: 'Lobster'; 
    font-stretch: 50%;
}
article{
    border: 2px solid rgb(224, 17, 17);
    background-color: ivory; 
    padding: 13px;
}

body{
    margin: 22px;
    color: rgb(8, 4, 54);
    background: rgb(95, 128, 89); 
    text-align: start;
}
.date {
    color: #03202c;
    font-size: 11pt;
    text-decoration: underline dotted;

}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:visited {
    color: #ffffff; 
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.top-menu:hover {
    color: #1e0b66;
}
.post {
    color: #260544d5;
    margin-left: 35px;
    margin-right: 70px;
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #2f067c;
    text-decoration: unset;
}

.post > .date,
.post > .actions {
    float: right;
    color: #2a1281;
}

.btn-secondary,
.btn-secondary:visited {
    color: #cacad4;
    background: rgb(75, 110, 4);
    border-color: #492003;
}

.btn-secondary:hover {
    color: #2a1281;
    background-color: #aeb8b6;
}

.comment {
    margin: 20px 0px 20px 20px;
    color: #1f1888;
}