.page-header {
    background-color: #347a7cbe;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 40px 40px 20px 30px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #d84141;
    font-size: 50pt;
    text-decoration: unset;
}

h1,
h2,
h3,
h4 {
    color: #e9db17;
    font-family: 'Loboto Mono'; 
    font-stretch: 50%;
}

.date {
    color: #e9db17;
    font-size: 14pt;
    text-decoration: underline;

}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    color: #460880d5;
    margin-left: 35px;
    margin-right: 70px;
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #084e11;
    text-decoration: unset;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}